<h1>Barrier Topics</h1>
<p></p>
<!--<%= link_to "Sign up now!", signup_path, :class=> "signup_buttonround" %> -->
<div class="demo">
	<div class="demo">
		<div id="accordion">
			<h3><a href="#section1">Discuss Barrier: Injection Concerns</a></h3>
			<div>
				<table border="1">
					<tr>
						<td>Needle Anxiety</td>
						<td>Rational/Irrational</td>
						<td>
						<ul>
							<li>
								Normailize as a common concern
							</li>
							<li>
								Provide basic education from other injections
							</li>
							<li>
								Mental rehersal
							</li>
						</ul></td>
					</tr>
					<tr>
						<td>Pain</td>
						<td>
						<ul>
							<li>
								Pain of the needle
							</li>
							<li>
								Pain after injecting
							</li>
						</ul><td>
						<ul>
							<li>
								Explain expectations influence percieved pain
							</li>
							<li>
								Explain importance of being relaxed
							</li>
							<li>
								Explain what to expect fron this type of injection
							</li>
							<li>
								Walk through strategies to minimize pain
							</li>
						</ul></td>
					</tr>
					<tr>
						<td>Saftey</td>
						<td>
						<ul>
							<li>
								Strong medication
							</li>
							<li>
								Children at home
							</li>
							<li>
								Disposing of needles
							</li>
						</ul></td>
						<td></td>
					</tr>
				</table>
				<%= check_box_tag 'complete','Complete' -%> Complete
			</div>
			<h3><a href="#section2">Discuss Barrier: Side Effects</a></h3>
			<div>
				<table border="1">
					<tr>
						<td>For all concerns</td>
						<td>
						<ul>
							<li>
								Acknowledge fear/concern
							</li>
							<li>
								Ask questions and listen to patient to get clearer view of barrier
							</li>
						</ul></td>
						</td> <td> MKT step 4 side effects. We can use the whole section. Also look at additional talking points. Can we include relaxation exercises? </td>
					</tr>
					<tr>
						<td>Anticipate side effects</td>
						<td>
						<ul>
							<li>
								Previous experience with other treatments
							</li>
							<li>
								Label-information and chance you will experience all
							</li>
							<li>
								Knowing what to expect
							</li>
						</ul></td>
						</td> <td> Explain that it’s important to be aware of which side effects need to be reported to the doctor, but that it’s also important not to focus too much on what might happen</td>
					</tr>
					<tr>
						<td>Actually having side effects</td>
						<td>
						<ul>
							<li>
								<font color="red">Needs to be reported</font>
							</li>
							<li>
								Problem solving: talk to doctor
							</li>
							<li>
								Short-term vs. long-term benefits of treatment
							</li>
							<li>
								Is this worth it? (also see specific barrier for this)
							</li>
							<li>
								Don’t give up!
							</li>
						</ul></td>
						<td>
						<ul>
							<li>
								<font color="red">Adverse event report</font>
							</li>
							<li>
								Problem solving: Let doctor know you are experiencing these side effects. Might be able to give advice on life style, diet, and medication changes to reduce side effects.
							</li>
							<li>
								When in doubt: ask the doctor
							</li>
							<li>
								Cost-benefit exercise
							</li>
							<li>
								Diary/calendar marking exercise (example; put X on calendar for every day you experience a side effect. This week eat no salt and put X’s on calendar)
							</li>
						</ul></td>
					</tr>
					<tr>
						<td>Confusion: side effect or symptom</td>
						<td> NS symptom vs. Acthar side effects </td>
					</tr>
					<tr>
						<td>Being on multiple medications</td>
						<td> Side effects from different medications </td>
					</tr>
					<tr>
						<td>Disability due to side effects</td>
						<td>
						<ul>
							<li>
								Change in role in family
							</li>
							<li>
								Effect on work
							</li>
							<li>
								Don' give up!
							</li>
						</ul></td>
						<td>
						<ul>
							<li>
								Talk to family
							</li>
							<li>
								Tips on talking to coworkers or supervisors
							</li>
						</ul></td>
					</tr>
				</table>
				<%= check_box_tag 'complete','Complete' -%> Complete
			</div>
			<h3><a href="#section3">Discuss Barrier: Financial Concerns</a></h3>
			<div>
				<table border="1">
					<tr>
						<td>For all concerns</td>
						<td>
						<ul>
							<li>
								Acknowledge fear/concern
							</li>
							<li>
								Ask questions and listen to patient to get clearer view of barrier
							</li>
						</ul></td>
						</td> <td> MKT step 4, cost of treatment. Should include some additional questions. Seems too short. Follow talking points and include questions about each talking point. Especially prioritizing expenses can be changed a bit, because Acthar patients may not see treatment as a ‘bigger priority’.</td>
					</tr>
					<tr>
						<td>It's too expensive</td>
						<td>
						<ul>
							<li>
								Prioritize expenses
							</li>
						</ul></td>
						</td> <td> Practical tips for saving money</td>
					</tr>
					<tr>
						<td>Employment</td>
						<td>
						<ul>
							<li>
								Current employment concerns, limitations
							</li>
							<li>
								Former employment
							</li>
							<li>
								Wishes
							</li>
						</ul></td>
						<td>
						<ul>
							<li>
								Facilitate discussion, listen, ask questions
							</li>
							<li>
								No job search tips/resume advice
							</li>
						</ul></td>
					</tr>
					<tr>
						<td>Secondary Expenses</td>
						<td>
						<ul>
							<li>
								Child care
							</li>
							<li>
								Transportation to doctor
							</li>
							<li>
								Taking days off from work
							</li>
						</ul></td>
					</tr>
					<tr>
						<td>Financial/Medical assistance</td>
						<td>
						<ul>
							<li>
								Medicare/Medicaid
							</li>
							<li>
								Unemployment benefits
							</li>
							<li>
								Health insurance
							</li>
							<li>
								Social security
							</li>
							<li></li>
							Free treatment – ASAP</li>S
						</ul></td>
					</tr>
					<tr>
						<td>Emotional</td>
						<td>
						<ul>
							<li>
								Guilt – family budget – influence on career opportunities, effects/burden on partner (insurance)
							</li>
							<li>
								Frustration – I work so hard, but all my money goes to this condition
							</li>
						</ul></td>
					</tr>
				</table>
				<%= check_box_tag 'complete','Complete' -%> Complete
			</div>
			<h3><a href="#section4">Answer Questions</a></h3>
			<div>
				<p>
					Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				</p>
				<ul>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
				</ul>
			</div>
		</div>
	</div>
