<h1>Common Issues</h1>
<div align=right style="padding: 0px 55px 0px 0px; font-weight:bold ">
	<p>
		Yes &nbsp; Not Sure &nbsp; No
	</p>
</div>
<div>
	<table width="100%" border="1">
		<tr>
			<td>I have some concerns about remembering when to take Acthar </td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>

		<tr>
			<td>I have concerns about side effects </td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>

		<tr>
			<td>I have concerns about my medical costs </td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>

		<tr>
			<td>I wonder sometimes if taking Acthar is worth it</td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>

		<tr>
			<td>I don’t understand why I’m supposed to take Acthar or how it helps</td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>

		<tr>
			<td>I have concerns about using an injectable medication</td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>
		<tr>
			<td>It’s been hard to cope with my condition and/or taking medication</td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>
		<tr>
			<td>I have other questions or concerns related to taking Acthar</td>
			<td>
			<form style="float: right; width: 200px">
				<input type="radio" name="assesment" value="1" style="width: 50px" />
				<input type="radio" name="assesment" value="2" style="width: 50px" />
				<input type="radio" name="assesment" value="3" style="width: 50px"/>
			</form></td>
		</tr>
	</table>
	<%= link_to 'Detailed Patient Assesment', new_session_path %>
<!--	<%= check_box_tag 'complete','Complete' -%> Complete -->
</div>
