<h1>HCS Acthar Prototype - Home</h1>
<p>
	This is a place holder for the entry to tht Acthac Nurse tool application
</p>


<%= link_to 'Client Administration', clients_path %>

<!-- <td><%= link_to "Begin New Session", {:controller => 'clients'} %></td> -->

<%#= link_to "Sign up now!", signup_path, :class=> "signup_buttonround" %> 
