<h1>HCS Acthar Prototype - Home</h1>
<p>
	Home Page
</p>

<td><%= link_to "Begin New Session", {:controller => 'clients'} %></td>

<%#= link_to "Sign up now!", signup_path, :class=> "signup_buttonround" %> 
