<h1>Adherence Topics</h1>
<p>
	
</p>
<!--<%= link_to "Sign up now!", signup_path, :class=> "signup_buttonround" %> -->

<div class="demo">
				<div class="demo">
					<div id="accordion">
						<h3><a href="#section1">Discuss Barrier: Injection Concerns</a></h3>
						<div>
							<table border="1">
								<tr>
									<td>Needle Anxiety</td>
									<td>Rational/Irrational</td>
									<td>
									<ul>
										<li>
											Normailize as a common concern
										</li>
										<li>
											Provide basic education from other injections
										</li>
										<li>
											Mental rehersal
										</li>
									</ul></td>
								</tr>
								<tr>
									<td>Pain</td>
									<td>
									<ul>
										<li>
											Pain of the needle
										</li>
										<li>
											Pain after injecting
										</li>
									</ul><td>
									<ul>
										<li>
											Explain expectations influence percieved pain
										</li>
										<li>
											Explain importance of being relaxed
										</li>
										<li>
											Explain what to expect fron this type of injection
										</li>
										<li>
											Walk through strategies to minimize pain
										</li>
									</ul></td>
								</tr>
								<tr>
									<td>Saftey</td>
									<td>
									<ul>
										<li>
											Strong medication
										</li>
										<li>
											Children at home
										</li>
										<li>
											Disposing of needles
										</li>
									</ul></td>
									<td></td>
								</tr>
							</table>
						<input type="checkbox" id="check" /><label for="check">Complete</label>	
						</div>
						<h3><a href="#section2">Assess Adherence Barriers</a></h3>
						<div>
							<table border="1">
								<tr>
									<td>row 1, cell 1</td>
									<td>row 1, cell 2</td>
								</tr>
								<tr>
									<td>row 2, cell 1</td>
									<td>row 2, cell 2</td>
								</tr>
							</table>
						</div>
						<h3><a href="#section3">Discuss Barrier</a></h3>
						<div>
							<p>
								Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
							</p>
							<ul>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
							</ul>
							<a href="#othercontent">Link to other content</a>
						</div>
						<h3><a href="#section4">Answer Questions</a></h3>
						<div>
							<p>
								Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
							</p>
							<ul>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
								<li>
									List item
								</li>
							</ul>
						</div>
					</div>
				</div>
