<h1>Greeting</h1>
<p>
	Page for history review and greating statements
</p>
<div class="demo">
	<div class="demo">
		<div id="accordion">
			<h3><a href="#section1">Client Infomation</a></h3>
			<div>
				<ul>
					<li>
						Joe Smith
					</li>
					<li>
						age:63
					</li>
					<li>
						xxxxxxxxxxx
						</il>
					<li>
						xxxxxxxxxxx
					</li>
				</ul>
				<ul type="circle">
					<li>
						xxxxxxxxxxxx
					</li>
					<li>
						xxxxxxxxxxxx
					</li>
					<li>
						xxxxxxxxxxxx
					</li>
					<li>
						xxxxxxxxxxxx
					</li>
					<li>
						xxxxxxxxxxxx
					</li>
				</ul>
				<p>
					Paulatim ex fatua appellatio jus transverbero. Valetudo nostrud suscipere ad ad, premo facilisi at. Aliquip, dolore verto jumentum populus et feugait illum duis suscipere. Iriure populus iusto metuo volutpat rusticus neo ut iusto
				</p>
				<%=check_box_tag 'complete','Complete' -%> Complete
			</div>
			<h3><a href="#section2">Notes</a></h3>
			<div>
				<textarea rows="5" cols="150"></textarea>
				<br />
				<%=check_box_tag 'complete','Complete' -%> Complete
			</div>
			<h3><a href="#section3">Discussion</a></h3>
			<div>
				<p>
					Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
				</p>
				<ul>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
					<li>
						List item
					</li>
				</ul>
				<%=check_box_tag 'complete','Complete' -%> Complete
			</div>
		</div>
	</div>
